.menu-heading {
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: 10rem;
    /* margin-bottom: 3rem; */
}

.menu-name {
    font-size: 1.5rem;
    font-weight:bold;
    color: #32436B;
    margin-left: 3rem;
}

.menu-name-span {
    margin-right: 0.5rem;
}

.menu-products {
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 4rem; */
    margin-left: 6rem;
}

.menu-product-img img:hover {
    transform: scale(1.06);
    transition-duration: 1s;
    cursor: pointer;
}

.menu-product {
    margin: 4rem;
}

.menu-view {
    margin-left: 45rem;
    cursor: pointer;
}

.menu-product-name {
    font-size: 1.2rem;
    /* margin-left: 7rem;*/
    margin-top: 2rem; 
    text-align: center;
}

.manu-product-btn {
    margin-top: 1rem; 
    text-align: center;
}

.menu-btn {
    font-weight: bold;
    border: solid;
    border-color: #EF4343;
    color: #EF4343;
    background-color: #fff;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.menu-btn:hover {
    background-color: #EF4343;
    color: #fff;
  }