.subscribe_parent {
  background:url(../../assets/colors.png);
  background-color: black;
  height: 80vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.subscribe_child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 50%;
  background-color: #ffffff;
}

.subscribe_child p {
    margin: 2rem;
}

.subscribe-btn {
  width: 67%;
  display: flex;
  align-items: center;
  align-content: center;
}

#subscribe-btnSubmit {
  flex-basis: 1;
  border-radius: 0;
  height: 41px;
  width: 112px;

  color: white;
  background-color: #32353c;
  border: none;
}

#subscribe-btnInput {
  flex-grow: 2;
  height: 40px;
}

#subscribe-1stLine {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: -1.1rem;
}

#subscribe-2ndLine {
  font-size: large;
  margin-bottom: 2.8rem;
}

.footer_child1_heading {
  margin-bottom: 20px;
}
