.subscribe_parent {
    background: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8ZnVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  background-color: black;
  height: 75vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.subscribe_child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  height: 55%;
  width: 50%;
  background-color: #FFFFFF ;
}

#subscribe-btnSubmit{
    border-radius: 0;
    height: 47px;
    width: 112px;

    color: white;
    background-color: #32353C;
}

#subscribe-btnInput{
    height: 40px;
    width: 690px;

}

#subscribe-1stLine{
    font-size: x-large;
    font-weight: bold;
}

#subscribe-2ndLine{
    font-size: large;
    
}


